// Start Style The Website Footer
footer {
    background-color: $black;
    padding: 100px 0 70px;
    color: $white;

    .footer-boxs {
        .footer-subscribe-box {
            @extend %flexSpaceBetween;
            margin-bottom: 50px;

            .footer-subscribe-box-text {
                flex-basis: 90%;
                margin: auto;
                text-align: center;

                h3 {
                    font: {
                        size: 24px;
                        weight: 600;
                    }
                }

                @media (min-width: 992px) {
                    flex-basis: 40%;
                    margin: 0;
                    text-align: left;
                }
            }

            .footer-subscribe-box-form {
                flex-basis: 90%;
                margin: auto;

                form {
                    input {
                        width: 70%;
                        display: block;
                        margin: 30px auto;
                        padding: 14px 24px;
                        background-color: $white;
                        border: none;
                        color: $gray;
                        text-transform: capitalize;
                        box-shadow: 0px 17px 45px rgba(0, 0, 0, 0.08);

                        @media (min-width: 576px) {
                            width: 69%;
                            display: inline-block;
                            margin: 30px 0 0 0;
                        }

                        @media (min-width: 992px) {
                            width: 70%;
                            margin: 0;
                        }
                    }

                    button {
                        font-size: 18px;
                        padding: 11.5px 24px;
                        background-color: $blue;
                        border: none;
                        color: $white;
                        cursor: pointer;
                        display: block;
                        margin: auto;

                        @media (min-width: 576px) {
                            display: inline-block;
                            margin: 0;
                            padding: 10.4px 24px;
                            vertical-align: middle;
                            margin-left: -4px;
                        }

                        @media (min-width: 992px) {
                            margin-left: -5px;
                        }
                    }
                }

                @media (min-width: 992px) {
                    flex-basis: 52%;
                    margin: 0;
                }
            }

        }

        .footer-details-boxs {
            @extend %flexSpaceBetween;

            .footer-details-box {
                flex-basis: 90%;
                margin: 0 auto 50px;
                text-align: center;

                &:first-of-type {
                    h3 {
                        font: {
                            size: 30px;
                            weight: 700;
                        }
                    }

                    p {
                        @media (min-width: 992px) {
                            padding-right: 50px;
                        }
                    }
                }

                &:nth-of-type(2) {
                    flex-basis: 60%;
                    text-align: left;

                    @media (min-width: 768px) {
                        flex-basis: 35%;
                    }

                    @media (min-width: 992px) {
                        flex-basis: 30%;
                    }
                }

                &:last-of-type {
                    flex-basis: 60%;
                    text-align: left;

                    @media (min-width: 768px) {
                        flex-basis: 40%;
                    }

                    @media (min-width: 992px) {
                        flex-basis: 30%;
                    }
                }

                h3 {
                    font: {
                        size: 20px;
                        weight: 600;
                    }

                    margin-bottom: 25px;
                }

                p {
                    margin: 20px 0 40px;
                    font-size: 17px;
                }

                a {
                    padding: 12px 24px;
                    border: 1px solid $blue;

                    &:hover {
                        background-color: $blue;
                        color: $white;
                    }
                }

                .footer-details-box-links {
                    @extend %flex;

                    .footer-details-box-link {
                        margin-right: 20px;

                        a {
                            display: block;
                            padding: 0;
                            margin-bottom: 15px;
                            border: none;

                            &:hover {
                                background: none;
                                color: $blue;
                            }
                        }
                    }
                }

                .footer-details-box-icons {
                    p {
                        span {
                            padding: 4.4px 7.5px;
                            margin-right: 15px;
                            background-color: $blue;
                            @include prefixer(border-radius, 50%);
                        }
                    }
                }

                @media (min-width: 768px) {
                    flex-basis: 60%;
                    margin: 0;
                    text-align: left;
                }

                @media (min-width: 992px) {
                    flex-basis: 40%;
                }
            }
        }
    }

    .footer-copyrights {
        @extend %flexSpaceBetween;
        margin-top: 50px;
        text-align: center;

        .footer-copyright {
            flex-basis: 90%;
            margin: 10px;

            p {
                span {
                    font-weight: 700;
                    color: $blue;

                    &:hover {
                        color: $white;
                        cursor: pointer;
                    }
                }
            }

            @media (min-width: 992px) {
                flex-basis: 55%;
                margin: 0;
            }
        }

        .footer-copyright-links {
            flex-basis: 90%;

            a {
                &:hover {
                    color: $blue;
                }
            }

            @media (min-width: 992px) {
                flex-basis: 31%;
            }
        }

        @media (min-width: 992px) {
            text-align: left;
        }
    }

    @media (min-width: 992px) {
        padding: 100px 0;
    }
}

// Finish Style The Website Footer